@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Orbitron', sans-serif; */
*{
    margin: 0px;
    padding: 0px;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Orbitron', sans-serif;
}
h1{
    grid-column: 1/5;
    text-align: center;
    color: white;
    margin: 10px 0px;
    padding: 10px 0px;
    /* border: 1px solid white;
    border-radius: 4px; */
}
.output{
    grid-column: 1/5;
    color: white;
    text-align: end;
    padding: 30px 10px;
    font-size: 30px;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
    padding: 5px;
    /* border: 1px solid white;
    border-radius: 4px; */
}

.box{
    color: white;
    text-align: center;
    padding: 30px;
    border-radius: 4px;
    cursor: pointer;
}
.light-dark:hover{
    background-color: rgb(67, 67, 67);
}
.light-dark{
    background-color: rgb(90, 90, 90);
}

.dark{
    background-color: rgb(54, 53, 53);
}
/* .dark:hover{
    background-color: rgb(90, 90, 90);
} */
.pink{
    background-color: rgb(255, 124, 146);
}
.pink:hover{
    background-color: rgb(252, 110, 134);
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    /* grid-template-columns: 1fr; */
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: rgb(163, 163, 163);
    /* background-image: url(calc.png); */
}

#equal-to{
    grid-column: 3/5;
    border-bottom-right-radius: 10px;
}
#dot{
    border-bottom-left-radius: 10px;
}

/* #backspace{
    grid-column: 3/5;
} */

.main{
    box-shadow: 15px 15px 22px rgb(87, 87, 87), 15px 15px 22px rgb(0,0,0,0.16);
    border-radius: 20px;
    border: 5px solid rgb(82, 82, 82);
    background-color: rgb(54, 54, 54); 
}
/* .cut-effect{
    background-color: rgb(67, 67, 67);
    width: 10%;
    height: 10%;
} */